# Data Cleaning

This notebook clean the data to prepare it for the analysis. The cleaned data is then save to df_clean.csv

We will do the follows. 

1. Remove variables(columns) that has more than 70% of NaN value

2.  Handle categorical values with too many categories: pt_state, ecodub92 and diag_adm:  We will find a reasonable way to group these categories into fewer categories. 

3. Save the data to df_clean.csv

In [2]:
import pandas as pd
import numpy as np

from collections import defaultdict

In [2]:
df = pd.read_csv('../df.csv')

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,6,8,9,16,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### 1. Remove variables 

We remove variables that has more than 70% of missing values.

In [3]:
DROP_LIMIT = 0.7
for var in df.columns:
    if df[var].isna().sum()/df[var].count() > DROP_LIMIT:
        df.drop(var, axis=1, inplace=True)

In [4]:
orig_col = ['yod','age','sex','b_wt','ethnic','pt_state','race','raceethn','campus','er_mode','admtype', 'payer',
      'yoa','pay_ub92','provider','asource','ecodepoa','moa','service','ecodub92','diag_adm','los']

for c in orig_col:
    if c not in df.columns:
        print(c)

race
er_mode
ecodepoa

#### Removed columns:
* race
* er_mode
* ecodepoa

### 2. Handle pt_state

In [5]:
df['pt_state'].unique()

array([nan, "b'00'", "b'RI'", "b'CA'", "b'01'", "b'08'", "b'TX'", "b'CT'",
       "b'NH'", "b'02'", "b'NC'", "b'DE'", "b'YY'", "b'MA'", "b'NY'",
       "b'05'", "b'25'", "b'26'", "b'20'", "b'31'", "b'FL'", "b'11'",
       "b'06'", "b'18'", "b'PA'", "b'03'", "b'16'", "b'IL'", "b'10'",
       "b'13'", "b'21'", "b'07'", "b'09'", "b'LA'", "b'17'", "b'12'",
       "b'NE'", "b'ME'", "b'04'", "b'22'", "b'NJ'", "b'15'", "b'19'",
       "b'34'", "b'14'", "b'MI'", "b'MD'", "b'OR'", "b'NV'", "b'27'",
       "b'OH'", "b'GA'", "b'AK'", "b'53'", "b'E8'", "b'MO'", "b'IN'",
       "b'TN'", "b'VT'", "b'CO'", "b'AZ'", "b'VA'", "b'WI'", "b'KS'",
       "b'-2'", "b'SC'", "b'DC'", "b'30'", "b'V4'", "b'MN'", "b'UK'",
       "b'OK'", "b'V1'", "b'24'", "b'44'", "b'36'", "b'40'", "b'33'",
       "b'61'", "b'80'", "b'45'", "b'73'", "b'AL'", "b'HI'", "b'0-'",
       "b'XX'", "b'KY'", "b'E9'", "b'78'", "b'42'", "b'69'", "b'V0'",
       "b'74'", "b'23'", "b'-3'", "b'WV'", "b'VI'", "b'AR'", "b'UT'",
       "b'28'", "b'-4'", "b'-1'", "b'NM'", "b'WA'", "b'ID'", "b'V5'",
       "b'FC'", "b'55'", "b'V6'", "b'41'", "b'60'", "b'29'", "b'38'",
       "b'49'", "b'35'", "b'32'", "b'37'", "b'71'", "b'47'", "b'70'",
       "b'56'", "b'46'", "b'59'", "b'43'", "b'ND'", "b'79'", "b'72'",
       "b'UN'", "b'57'", "b'ON'", "b'51'", "b'64'", "b'39'", "b'89'",
       "b'V8'", "b'58'", "b'62'", "b'90'", "b'92'", "b'91'", "b'MS'",
       "b'48'", "b'V7'", "b'68'", "b'75'", "b'BC'", "b'88'", "b'-6'",
       "b'V2'", "b'52'", "b'PQ'", "b'84'", "b'E0'", "b'50'", "b'QC'",
       "b'AB'", "b'99'", "b'94'", "b'93'", "b'65'", "b'87'", "b'SD'",
       "b'97'", "b'82'", "b'96'", "b'IA'", "b'GU'", "b'76'", "b'1'",
       "b'MT'", "b'66'", "b'WY'", "b'__'", "b'95'", "b'81'", "b'E6'",
       "b'Z2'", "b'F4'", "b'K2'", "b'I2'", "b'Z9'", "b'Y9'", "b'Z7'",
       "b'E7'", "b'Y3'", "b'Z6'", "b'Z8'", "b'J4'", "b'I1'", "b'T4'",
       "b'Z0'", "b'D6'", "b'E1'", "b'R4'", "b'C5'", "b'M5'", "b'F1'",
       "b'F3'", "b'K6'", "b'K8'", "b'G4'", "b'Z5'", "b'I7'", "b'Z3'",
       "b'I3'", "b'R0'", "b'I5'", "b'X7'", "b'F6'", "b'N1'", "b'W1'",
       "b'I4'", "b'R1'", "b'R7'", "b'W0'", "b'R2'", "b'R5'", "b'K9'",
       "b'F2'", "b'E2'", "b'B0'", "b'A4'", "b'T7'", "b'K3'", "b'K5'",
       "b'S9'", "b'D5'", "b'T5'", "b'X8'", "b'T2'", "b'C1'", "b'M7'",
       "b'H6'", "b'L0'", "b'G8'", "b'M1'", "b'J3'", "b'M9'", "b'H9'",
       "b'G2'", "b'E4'", "b'B1'", "b'N4'", "b'K7'", "b'O7'", "b'M8'",
       "b'L9'", "b'M6'", "b'L3'", "b'S6'", "b'X5'", "b'G6'", "b'S0'",
       "b'F9'", "b'J1'", "b'K0'", "b'Y8'", "b'M0'", "b'E5'", "b'N2'",
       "b'N3'", "b'M2'", "b'R6'", "b'I6'", "b'W2'", "b'O3'", "b'M4'",
       "b'I8'", "b'I0'", "b'I9'", "b'N7'", "b'L2'", "b'T3'", "b'D7'",
       "b'H3'", "b'O4'", "b'R9'", "b'S7'", "b'Y0'", "b'D2'", "b'F0'",
       "b'G9'", "b'H4'", "b'A6'", "b'H5'", "b'B9'", "b'G3'", "b'X3'",
       "b'F7'", "b'F8'", "b'K4'", "b'C8'", "b'R3'", "b'L7'", "b'PR'",
       "b'S4'", "b'X9'", "b'L5'", "b'T1'", "b'C0'", "b'D1'", "b'Q2'",
       "b'S5'", "b'T8'", "b'B3'", "b'R8'", "b'S8'", "b'O1'", "b'Y7'",
       "b'K1'", "b'O9'", "b'C2'", "b'W5'", "b'O6'", "b'Y6'", "b'N6'",
       "b'Z1'", "b'O2'", "b'W3'", "b'G5'", "b'R'", "b'F5'", "b'H2'",
       "b'A0'", "b'L8'", "b'Z4'", "b'L4'"], dtype=object)

In [5]:
map_dict = defaultdict(lambda: 'Other')
map_dict["b'RI'"] = 'RI'
map_dict["b'CT'"] = 'CT'
map_dict["b'MA'"] = 'MA'

In [6]:
df['pt_state'] = df['pt_state'].map(map_dict, na_action='ignore').fillna('Unknown')

In [7]:
df['pt_state'].unique()

array(['Unknown', 'Other', 'RI', 'CT', 'MA'], dtype=object)

### 3. Handle ecodub92

In [8]:
df = df.drop(['ecodub92'], axis=1)

### 4. Handle diag_adm

In [9]:
# fill NA values with 'Unknown'
df['diag_adm'] = df['diag_adm'].fillna('Unknown')

# Keep the first three letters of the diagnosis (Categories of dianosis)
df['diag_adm'] = [i if i=='Unknown' else i[2:5] for i in df['diag_adm']]

# Group diagnosis codes with few values into Others
u = df['diag_adm'].value_counts()
v = u.index[u.values<5]
df['diag_adm'] = ['Others' if i in v else i for i in df['diag_adm']]

In [10]:
def f(x):
    r = pd.Series()
    r['Unique Values'] =  x.unique().__len__()
    missing_values = x.isna().sum()
    r['Missing'] = missing_values
    r['Missing Percentage'] =  missing_values/len(x)
    r['Type'] = x.dtype
    return(r)

In [11]:
u = df.apply(f, axis=0)
u.transpose()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

         Unique Values Missing Missing Percentage     Type
yod                 16       0                  0  float64
age                120      25        1.13046e-05  float64
sex                  4       3        1.35655e-06   object
b_wt              4847  590017           0.266796   object
ethnic               6  285208           0.128966  float64
pt_state             5       0                  0   object
raceethn            10  146005          0.0660211   object
campus              34  903208           0.408416   object
admtype              7      75        3.39138e-05   object
payer               18       0                  0   object
yoa                 20       0                  0  float64
pay_ub92            17  273447           0.123648  float64
provider            14       0                  0   object
asource             22    1451        0.000656119   object
moa                 14  143682          0.0649707  float64
service             18    1190        0.000538099   object
diag_adm          1784       0                  0   object
los                444   60207          0.0272246  float64

### 5. Save the data

In [13]:
df.to_csv('../df_clean.csv', index=False)

## Further Cleaning and resaving

In [3]:
df = pd.read_csv('../df_clean.csv')

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
column_values = []
for c in df.columns:
    column_values.append((c, df[c].dtype, df[c].unique()))

In [6]:
column_values

[('yod',
  dtype('float64'),
  array([ 3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15.,
         16., 17., 18.])),
 ('age',
  dtype('float64'),
  array([ 39.,  59.,  57.,  54.,  58.,  48.,  50.,  55.,  46.,  56.,  76.,
          47.,  61.,  45.,  51.,  42.,  63.,  64.,  62.,  43.,  84.,  67.,
          37.,  38.,  41.,  70.,  35.,  49.,  40.,  33.,  36.,  32.,  52.,
          44.,  60.,  53.,  71.,  28.,  78.,  26.,  30.,  34.,  23.,  25.,
          22.,  21.,  27.,  29.,  24.,  81.,  20.,  19.,  14.,  31.,  75.,
          82.,  13.,  15.,  18.,  10.,  17.,  12.,  11.,  68.,  85.,  80.,
          98.,   9.,   8.,  79.,  86.,  65.,  16.,  88.,  83.,  77.,  73.,
           7.,  95.,   5.,  66.,  89.,   4.,  72.,  69.,   6.,  91.,  87.,
          94.,  74.,  90.,   3.,  93.,  nan,  92.,  96.,   0.,   1., 100.,
           2.,  97., 104.,  99., 101., 102., 114., 105., 106., 108., 103.,
         115., 109., 107., 118., 119., 122., 110., 111., 123., 124.])),
 ('sex', dtype('O'), array(["b'2'", "b'1'", nan, "b'9'"], dtype=object)),
 ('b_wt',
  dtype('O'),
  array([nan, "b'5382'", "b'8121'", ..., "b'358'", "b'8349'", "b'433X'"],
        dtype=object)),
 ('ethnic', dtype('float64'), array([nan,  2.,  3.,  1.,  0.,  9.])),
 ('pt_state',
  dtype('O'),
  array(['Unknown', 'Other', 'RI', 'CT', 'MA'], dtype=object)),
 ('raceethn',
  dtype('O'),
  array(["b'1'", "b'2'", "b'6'", "b'3'", "b'4'", "b'5'", "b'9'", "b'0'",
         nan, "b'7'"], dtype=object)),
 ('campus',
  dtype('O'),
  array([nan, "b'0'", "b'7'", "b'5'", "b'9'", "b'4'", "b'2'", "b'3'",
         "b'8'", "b'6'", "b'1'", "b'V'", "b'E'", "b'Z'", "b'F'", "b'A'",
         "b'R'", "b'J'", "b'Y'", "b'G'", "b'N'", "b'I'", "b'M'", "b'D'",
         "b'H'", "b'K'", "b'T'", "b'W'", "b'X'", "b'B'", "b'S'", "b'C'",
         "b'L'", "b'O'"], dtype=object)),
 ('admtype',
  dtype('O'),
  array(["b'3'", "b'1'", "b'5'", "b'2'", "b'4'", nan, "b'9'"], dtype=object)),
 ('payer',
  dtype('O'),
  array(["b'6'", "b'0'", "b'D'", "b'5'", "b'1'", "b'B'", "b'E'", "b'Z'",
         "b'7'", "b'8'", "b'G'", "b'Y'", "b'4'", "b'3'", "b'X'", "b'2'",
         "b'9'", "b'H'"], dtype=object)),
 ('yoa',
  dtype('float64'),
  array([ 3.,  2.,  1.,  4.,  0., 96.,  5.,  6.,  7.,  8.,  9., 10., 11.,
         12., 13., 14., 15., 16., 17., 18.])),
 ('pay_ub92',
  dtype('float64'),
  array([nan,  1.,  6.,  8.,  4.,  2.,  9.,  7., 11., 98., 13.,  3., 10.,
         99., 12.,  5., 15.])),
 ('provider',
  dtype('O'),
  array(["b'7216'", "b'7215'", "b'7212'", "b'7201'", "b'7209'", "b'7203'",
         "b'7205'", "b'7204'", "b'7210'", "b'7206'", "b'7213'", "b'7202'",
         "b'7214'", "b'7211'"], dtype=object)),
 ('asource',
  dtype('O'),
  array(["b'1'", "b'4'", "b'5'", nan, "b'8'", "b'2'", "b'9'", "b'7'",
         "b'A'", "b'6'", "b'3'", "b'D'", "b'B'", "b'U'", "b'X'", "b'V'",
         "b'S'", "b'C'", "b'T'", "b'E'", "b'F'", "b'0'"], dtype=object)),
 ('moa',
  dtype('float64'),
  array([ 2.,  1.,  3., 12.,  7.,  9., 11.,  4.,  5.,  6.,  8., 10., nan,
          0.])),
 ('service',
  dtype('O'),
  array(["b'38'", "b'98'", "b'10'", "b'40'", "b'58'", "b'22'", "b'62'",
         "b'77'", "b'80'", "b'76'", "b'02'", "b'70'", "b'48'", "b'54'",
         "b'50'", "b'75'", nan, "b'00'"], dtype=object)),
 ('diag_adm',
  dtype('O'),
  array(['Unknown', '000', '997', ..., 'O61', 'O65', 'O67'], dtype=object)),
 ('los',
  dtype('float64'),
  array([ 4.000e+00,  2.200e+01,  1.200e+01,  1.700e+01,  8.000e+00,
          7.000e+00,  2.300e+01,  1.600e+01,  6.000e+00,  1.300e+01,
          1.000e+00,  3.100e+01,  1.000e+01,  2.800e+01,  1.100e+01,
          3.400e+01,  0.000e+00,  3.000e+00,  2.000e+00,  2.000e+01,
          9.000e+00,  2.500e+01,  2.400e+01,  1.900e+01,  1.500e+01,
          5.000e+00,  1.400e+01,  1.800e+01,  4.300e+01,  3.300e+01,
          4.000e+01,  2.600e+01,  3.200e+01,  2.100e+01,  2.900e+01,
          2.700e+01,  1.070e+02,  4.170e+02,  4.500e+01,  1.680e+02,
          5.400e+01,  3.500e+01,  1.220e+02,  6.700e+01,  3.700e+01,
          5.700e+01,  4.800e+01,  3.800e+01,  3.000e+01,  4.400e+01,
          3.600e+01,  4.700e+01,  6.000e+01,  1.450e+02,  4.100e+01,
          5.300e+01,  3.190e+02,  3.600e+02,  5.800e+01,  5.200e+01,
          4.900e+01,  7.600e+01,  4.200e+01,  8.700e+01,  7.100e+01,
          9.200e+01,  7.700e+01,  5.500e+01,  1.410e+02,  6.800e+01,
          9.300e+01,  1.120e+02,  2.980e+02,  4.800e+02,  2.750e+02,
          1.130e+02,  6.410e+02,  1.850e+02,  6.220e+02,  6.300e+01,
          7.400e+01,  1.880e+02,  1.210e+02,  1.370e+02,  5.100e+01,
          8.500e+01,  1.150e+02,  5.000e+01,  8.600e+01,  4.600e+01,
          9.800e+01,  1.270e+02,  6.740e+02,  8.000e+01,  2.600e+02,
          1.040e+02,  8.400e+01,  5.900e+01,  2.030e+02,  9.900e+01,
          6.900e+01,  1.390e+02,  8.300e+01,  1.530e+02,  1.310e+02,
          2.700e+02,  1.330e+02,  7.000e+01,  1.050e+02,  1.360e+02,
          5.600e+01,  1.020e+02,  1.250e+02,  6.500e+01,  3.900e+01,
          7.300e+01,  8.900e+01,  7.200e+01,  6.100e+01,  1.080e+02,
          9.400e+01,  7.900e+01,  1.030e+02,  1.010e+02,  6.200e+01,
          1.640e+02,  1.350e+02,  1.710e+02,  6.600e+01,  6.400e+01,
          7.800e+01,  1.170e+02,  1.300e+02,  9.700e+01,  8.100e+01,
          8.200e+01,  1.180e+02,  9.000e+01,  9.500e+01,  1.290e+02,
          7.500e+01,  3.850e+02,  2.210e+02,  1.280e+02,  1.000e+02,
          2.080e+02,  1.650e+02,  1.660e+02,  1.200e+02,  2.530e+02,
          2.000e+02,  1.090e+02,  1.240e+02,  8.800e+01,  1.160e+02,
          1.540e+02,  1.780e+02,  1.750e+02,  1.320e+02,  1.230e+02,
          9.100e+01,  1.100e+02,  1.670e+02,  1.560e+02,  2.100e+02,
          1.760e+02,  2.410e+02,  1.610e+02,  2.420e+02,  1.260e+02,
          1.440e+02,  1.400e+02,  1.190e+02,  1.590e+02,  1.690e+02,
          1.060e+02,  2.430e+02,  1.500e+02,  9.600e+01,  1.110e+02,
          1.380e+02,  2.790e+02,  1.470e+02,  1.600e+02,  1.430e+02,
          1.140e+02,  3.560e+02,  1.900e+02,  3.400e+02,  3.110e+02,
          1.870e+02,  3.180e+02,  1.480e+02,  1.830e+02,  4.650e+02,
          1.990e+02,  2.460e+02,  1.460e+02,  4.420e+02,  2.190e+02,
          4.740e+02,  9.450e+02,  4.790e+02,  2.280e+02,  1.970e+02,
          4.270e+02,  9.970e+02,  8.320e+02,  2.480e+02,  1.412e+03,
          2.570e+02,  1.890e+02,  8.960e+02,  2.580e+02,  3.179e+03,
          1.510e+02,  3.090e+02,  1.259e+03,  3.230e+02,  2.770e+02,
          2.170e+02,  2.110e+02,  1.840e+02,  2.360e+02,  3.680e+02,
          1.580e+02,  2.560e+02,  2.710e+02,  1.570e+02,  3.130e+02,
          2.220e+02,  1.740e+02,  2.690e+02,  2.590e+02,  1.630e+02,
          1.770e+02,  5.520e+02,  1.420e+02,  1.790e+02,  2.150e+02,
          1.807e+03,  4.640e+02,  1.980e+02,  2.830e+02,  3.310e+02,
          1.820e+02,  1.950e+02,  2.020e+02,  4.950e+02,  1.106e+03,
          4.030e+02,  2.540e+02,  1.520e+02,  1.800e+02,  2.630e+02,
          1.960e+02,  2.140e+02,  1.620e+02,  3.470e+02,  1.550e+02,
          2.130e+02,  1.910e+02,  2.510e+02,  1.490e+02,  1.700e+02,
          1.340e+02,  2.310e+02,  2.860e+02,  8.290e+02,  1.940e+02,
          4.250e+02,  3.740e+02,  6.250e+02,  2.230e+02,  1.920e+02,
          2.500e+02,  2.260e+02,  4.180e+02,  3.780e+02,  2.090e+02,
          6.660e+02,  8.190e+02,  8.070e+02,  6.720e+02,  2.800e+02,
          4.480e+02,  2.400e+02,  2.490e+02,  2.740e+02,  4.590e+02,
          5.880e+02,  5.430e+02,  2.810e+02,  1.930e+02,  3.760e+02,
          1.720e+02,  2.200e+02,  2.640e+02,  1.055e+03,  2.780e+02,
          2.180e+02,  2.550e+02,  2.120e+02,  2.820e+02,  3.790e+02,
          3.240e+02,  2.270e+02,  3.200e+02,  5.820e+02,  2.060e+02,
          3.390e+02,  5.010e+02,  1.730e+02,  2.330e+02,  2.010e+02,
          2.480e+03,  1.810e+02,  5.970e+02,  5.050e+02,  2.390e+02,
          1.791e+03,  1.113e+03,  3.070e+02,  5.190e+02,  5.030e+02,
          4.200e+02,  5.340e+02,  2.660e+02,  3.900e+02,  2.910e+02,
          2.290e+02,  3.080e+02,  9.370e+02,  4.350e+02,  2.040e+02,
          3.550e+02,  3.170e+02,  2.350e+02,  2.470e+02,  4.830e+02,
          3.840e+02,  5.710e+02,  2.160e+02,  3.830e+02,  2.650e+02,
          7.430e+02,  3.460e+02,  4.550e+02,  2.300e+02,  4.510e+02,
          3.380e+02,  2.050e+02,  2.370e+02,  2.920e+02,  2.940e+02,
          3.360e+02,  5.120e+02,  2.450e+02,  6.270e+02,  3.010e+02,
          5.200e+02,  2.900e+02,  5.240e+02,  3.430e+02,  7.280e+02,
          6.970e+02,  3.160e+02,  4.880e+02,  3.700e+02,  3.150e+02,
          3.570e+02,  4.100e+02,  4.140e+02,  3.060e+02,  2.373e+03,
          4.290e+02,  3.020e+02,  2.870e+02,  2.070e+02,  3.770e+02,
          9.610e+02,  3.350e+02,  9.580e+02,  3.490e+02,  2.380e+02,
          3.420e+02,  2.340e+02,  3.100e+02,  4.850e+02,  4.960e+02,
                nan, -1.000e+00, -2.000e+00, -3.000e+00, -4.000e+00,
         -5.000e+00,  3.330e+02, -7.000e+00,  3.650e+02,  3.630e+02,
         -2.200e+01,  1.708e+03,  3.500e+02,  5.110e+02,  3.050e+02,
          3.250e+02,  8.230e+02,  5.100e+02,  3.720e+02,  2.730e+02,
          2.610e+02,  3.000e+02,  3.440e+02,  3.920e+02,  3.410e+02,
          3.580e+02,  2.720e+02,  6.590e+02,  7.100e+02,  3.890e+02,
          6.060e+02,  3.140e+02,  4.680e+02,  3.820e+02,  4.450e+02,
          2.320e+02,  4.870e+02,  4.530e+02,  3.547e+03,  1.948e+03,
          2.890e+02,  3.510e+02,  3.530e+02,  3.750e+02,  3.040e+02,
          4.930e+02,  2.440e+02,  3.800e+02,  3.960e+02,  1.860e+02,
          2.240e+02,  3.280e+02,  5.280e+02,  4.710e+02]))]

### Mapping yod (year of discharge), yoa (year of admission), and moa (month of admission) to int
* Currently it is the last two digits of the year, with leading zeroes truncated
* Possible format to full year?

In [5]:
df['yod'] = pd.to_numeric(df['yod'], downcast='integer')
df['yoa'] = pd.to_numeric(df['yoa'], downcast='integer')
df['moa'] = pd.to_numeric(df['moa'].fillna(-1), downcast='integer')

In [6]:
df['yod'].unique()

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
      dtype=int8)

In [7]:
df['yoa'].unique()

array([ 3,  2,  1,  4,  0, 96,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17, 18], dtype=int8)

In [8]:
df['moa'].unique()

array([ 2,  1,  3, 12,  7,  9, 11,  4,  5,  6,  8, 10, -1,  0], dtype=int8)

### Mapping age to int
* NaN mapped to -1

In [9]:
df['age'] = pd.to_numeric(df['age'].fillna(-1), downcast='integer')

In [10]:
np.sort(df['age'].unique())

array([ -1,   0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
        12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,
        25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
        64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,
        77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,
        90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 114, 115, 118, 119,
       122, 123, 124], dtype=int8)

### Handling sex
* Changing b'1' and b'2' to 1 and 2 (Male and Female respectively)
* Documentation does not explain b'9', so changing that and nan to -1

In [11]:
map_dict = {"b'1'": 'Male', "b'2'": 'Female', "b'9'": 'Unknown'}

In [12]:
df['sex'] = df['sex'].map(map_dict, na_action='ignore').fillna('Unknown').astype('category')

In [13]:
df['sex'].unique()

[Female, Male, Unknown]
Categories (3, object): [Female, Male, Unknown]

### Making b_wt (weight in grams when born) numeric
* Making nan values -1
* Changing values not fully numeric (e.g. b'0V58') to -1 as well
    * Some values possibly only missing certain digits (e.g. b'58XX') could have digits filled if desired

In [14]:
def map_func(x):
    try:
        return int(x[2:-1])
    except:
        return -1

In [15]:
df['b_wt'] = df['b_wt'].map(map_func, na_action='ignore').fillna(-1)
df['b_wt'] = pd.to_numeric(df['b_wt'], downcast='integer')

In [16]:
df['b_wt'].unique()

array([  -1, 5382, 8121, ...,  132,  358, 8349], dtype=int16)

### Creating Stay column
* Short is los >=0 and <= 14
* Long is los > 14
* Neither is los < 0 and nan values

In [17]:
df['Stay'] = pd.cut(df['los'].fillna(-1),
                    bins=[df['los'].min()-1, -1, 14, df['los'].max()], 
                    labels=['Neither', 'Short', 'Long']
                   ).astype('category')

In [18]:
df['Stay'].unique()

[Short, Long, Neither]
Categories (3, object): [Neither < Short < Long]

### Fixing negative los values
* Negative and nan values defaulting to -1

In [19]:
def remove_neg_values(num):
    if num < 0:
        return -1
    else:
        return num

In [20]:
df['los'] = pd.to_numeric(df['los'].fillna(-1).map(remove_neg_values), downcast='integer')

### Handling raceethn

In [21]:
map_dict = {"b'1'": 'White, not Hispanic', "b'2'": 'Black, not Hispanic', "b'3'": 'Asian, not Hispanic', 
            "b'4'": 'American Indian, not Hispanic', "b'5'": 'Native Hawaiian, not Hispanic', "b'6'": 'Other, not Hispanic', 
            "b'7'": 'Hispanic, all races', "b'9'": 'Unknown', "b'0'": 'Unknown'}

In [22]:
df['raceethn'] = df['raceethn'].map(map_dict, na_action='ignore').fillna('Unknown').astype('category')

In [23]:
df['raceethn'].unique()

[White, not Hispanic, Black, not Hispanic, Other, not Hispanic, Asian, not Hispanic, American Indian, not Hispanic, Native Hawaiian, not Hispanic, Unknown, Hispanic, all races]
Categories (8, object): [White, not Hispanic, Black, not Hispanic, Other, not Hispanic, Asian, not Hispanic, American Indian, not Hispanic, Native Hawaiian, not Hispanic, Unknown, Hispanic, all races]

Labeling could probably use some work

### Handling ethnic

In [24]:
map_dict = {0: 'Unknown', 1:'Yes hispanic', 2:'Not hispanic', 
            3:'Not reported', 9:'Not reported'}

In [26]:
df['ethnic'] = df['ethnic'].map(map_dict, na_action='ignore').fillna('Unknown').astype('category')

In [27]:
df['ethnic'].unique()

[Unknown, Not hispanic, Not reported, Yes hispanic]
Categories (4, object): [Unknown, Not hispanic, Not reported, Yes hispanic]

Not reported and unknown could probably be combined

### Handling admtype

In [28]:
map_dict = {"b'1'": 'Emergency', "b'2'": 'Urgent', "b'3'": 'Electric', \
            "b'4'": 'Newborn', "b'5'": 'Trauma', "b'9'": 'Information not available'}

In [29]:
df['admtype'] = df['admtype'].map(map_dict, na_action='ignore').fillna('Information not available').astype('category')

In [30]:
df['admtype'].unique()

[Electric, Emergency, Trauma, Urgent, Newborn, Information not available]
Categories (6, object): [Electric, Emergency, Trauma, Urgent, Newborn, Information not available]

What exactly is electric?

### Handling provider

In [31]:
map_dict = {"b'7216'": 'Butler', "b'7215'": 'Bradley', "b'7212'": 'Rehab of RI', "b'7201'": 'Newport', 
            "b'7209'": 'South County', "b'7203'": 'Memorial', "b'7205'": 'Rhode Island Hospital', 
            "b'7204'": 'Miriam', "b'7210'": 'Kent County', "b'7206'": 'Roger Williams', 
            "b'7213'": 'Landmark Medical Center', "b'7202'": 'St. Joseph Health Services of RI',
            "b'7214'": 'Women and Infants', "b'7211'": 'Westerly'}

In [32]:
df['provider'] = df['provider'].map(map_dict, na_action='ignore').fillna('Unknown').astype('category')

In [33]:
df['provider'].unique()

[Butler, Bradley, Rehab of RI, Newport, South County, ..., Roger Williams, Landmark Medical Center, St. Joseph Health Services of RI, Women and Infants, Westerly]
Length: 14
Categories (14, object): [Butler, Bradley, Rehab of RI, Newport, ..., Landmark Medical Center, St. Joseph Health Services of RI, Women and Infants, Westerly]

### Handling service

In [34]:
map_dict = {"b'00'": 'Unknown', "b'02'": 'Pediactrics', "b'10'": 'Medicine', "b'22'": 'Cardiology', 
            "b'38'": 'Psychiatry', "b'40'": 'Surgery', "b'48'": 'Ophthalmology', "b'50'": 'ENT', 
            "b'54'": 'Oral Surgery', "b'58'": 'Orthopedics', "b'62'": 'Urology', "b'70'": 'Gynecology', 
            "b'75'": 'Abortion', "b'76'": 'OB – Not Delivered', "b'77'": 'OB – Delivered', 
            "b'80'": 'Newborn', "b'98'": 'Rehabilitation'}

In [35]:
df['service'] = df['service'].map(map_dict, na_action='ignore').fillna('Unknown').astype('category')

In [36]:
df['service'].unique()

[Psychiatry, Rehabilitation, Medicine, Surgery, Orthopedics, ..., Ophthalmology, Oral Surgery, ENT, Abortion, Unknown]
Length: 17
Categories (17, object): [Psychiatry, Rehabilitation, Medicine, Surgery, ..., Oral Surgery, ENT, Abortion, Unknown]

### Saving

In [37]:
df.to_csv('..\df_clean2.csv', index=False)